<h1>SHOW list by id</h1>

<p><%= @list.name %></p>
<div class="container">
  <div class="cards">
    <p><% movies = @list.movies %></p>
      <% movies.each do |movie| %>
      <div class="card" style="width: 18rem;">
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <p><%= movie.title %></p>
        <p><%= movie.overview %></p>
        <%= image_tag "https://image.tmdb.org/t/p/w500#{movie.poster_url}", class:"card-img-top" %>
        <p><%= movie.rating %></p>
        <p>comment: <%= bookmark.comment %></p>
        <div>
          <%= link_to "Delete a movie", bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h5>Add your review</h5>


<div>
  <%= link_to "Back to all Lists", lists_path %>
</div>

<div>
  <%= link_to "Create a Bookmark", new_list_bookmark_path(@list) %>
</div>
